<a href="https://colab.research.google.com/github/skillnerve/DataScience-Projects/blob/main/Amex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
from sklearn.ensemble import RandomForestClassifier

Data

In [2]:
Train_Data=pd.read_csv('/content/drive/MyDrive/AMEX/train_go05W65.csv')

In [3]:
Test_Data=pd.read_csv('/content/drive/MyDrive/AMEX/test_VkM91FT.csv')

In [4]:
Train_Data.head()

  Customer_ID  Gender  ...     Product_Holding_B1  Product_Holding_B2
0    CC264719    Male  ...                ['P16']              ['P8']
1    CC209679  Female  ...         ['P13', 'P20']              ['P3']
2    CC319633  Female  ...                ['P11']             ['P00']
3    CC231413  Female  ...          ['P8', 'P13']              ['P6']
4    CC259633    Male  ...  ['P16', 'P17', 'P21']       ['P8', 'P12']

[5 rows x 9 columns]

In [5]:
Test_Data.head()

  Customer_ID  Gender  Age  ...  City_Category  Customer_Category Product_Holding_B1
0    CC372708  Female   31  ...             C2                 S3     ['P12', 'P13']
1    CC216072    Male   28  ...             C1                 S2     ['P12', 'P13']
2    CC387629    Male   31  ...             C2                 S3            ['P20']
3    CC389228  Female   55  ...             C2                 S2     ['P13', 'P21']
4    CC394445    Male   51  ...             C2                 S1            ['P13']

[5 rows x 8 columns]

Data

In [6]:
Train_Data.sort_values('Customer_ID')

      Customer_ID  ...        Product_Holding_B2
32800    CC198726  ...              ['P3', 'P8']
21404    CC198730  ...                    ['P3']
30724    CC198733  ...              ['P1', 'P3']
28021    CC198740  ...  ['P3', 'P7', 'P8', 'P9']
27145    CC198748  ...        ['P1', 'P3', 'P8']
...           ...  ...                       ...
23033    CC397429  ...                   ['P00']
16292    CC397433  ...                   ['P00']
32623    CC397434  ...                    ['P1']
15234    CC397435  ...                    ['P1']
20498    CC397436  ...                   ['P00']

[37748 rows x 9 columns]

In [7]:
def fun(k):
  k=k[1:-1].split(',')
  for i in range(len(k)):
    k[i]=int(k[i].strip()[2:-1])
  return(k)

Train_Data['Product_Holding_B1']=Train_Data['Product_Holding_B1'].apply(fun)

In [8]:
t=0
for i in Train_Data['Product_Holding_B1']:
  k=max(i) 
  if k>t:
    t=k
print(t)

21

In [9]:
Train_Data['Current_Holdings']=Train_Data['Product_Holding_B1'].apply(len)

In [10]:
for i in range(22):
  string='Product_Holding_B1'+'_'+str(i)
  Train_Data[string]=0

In [11]:
for i in tqdm(range(Train_Data.shape[0])):
  q=Train_Data['Product_Holding_B1'].iloc[i]
  for j in q:
    Train_Data['Product_Holding_B1'+'_'+str(j)].iloc[i]=1

  0%|          | 0/37748 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 37748/37748 [00:10<00:00, 3537.64it/s]

In [12]:
Train_Data['Product_Holding_B2']=Train_Data['Product_Holding_B2'].apply(fun)

In [13]:
t=0
for i in Train_Data['Product_Holding_B2']:
  k=max(i) 
  if k>t:
    t=k
print(t)

20

In [14]:
for i in range(21):
  string='Product_Holding_B2'+'_'+str(i)
  Train_Data[string]=0

In [15]:
for i in tqdm(range(Train_Data.shape[0])):
  q=Train_Data['Product_Holding_B2'].iloc[i]
  for j in q:
    Train_Data['Product_Holding_B2'+'_'+str(j)].iloc[i]=1

  0%|          | 0/37748 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 37748/37748 [00:08<00:00, 4276.37it/s]

In [16]:
def fun1(k):
  k=int(k[1:])
  return(k)

Train_Data['City_Category']=Train_Data['City_Category'].apply(fun1)
Train_Data['Customer_Category']=Train_Data['Customer_Category'].apply(fun1)

In [17]:
Train_Data=Train_Data.drop(['Product_Holding_B1','Product_Holding_B2'],axis=1)

In [18]:
Train_Data.head()

  Customer_ID  Gender  ...  Product_Holding_B2_19  Product_Holding_B2_20
0    CC264719    Male  ...                      0                      0
1    CC209679  Female  ...                      0                      0
2    CC319633  Female  ...                      0                      0
3    CC231413  Female  ...                      0                      0
4    CC259633    Male  ...                      0                      0

[5 rows x 51 columns]

In [19]:
Train_Data['Gender'][Train_Data['Gender']=='Male']=1
Train_Data['Gender'][Train_Data['Gender']=='Female']=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
Train_Data.head()

  Customer_ID Gender  ...  Product_Holding_B2_19  Product_Holding_B2_20
0    CC264719      1  ...                      0                      0
1    CC209679      0  ...                      0                      0
2    CC319633      0  ...                      0                      0
3    CC231413      0  ...                      0                      0
4    CC259633      1  ...                      0                      0

[5 rows x 51 columns]

In [21]:
Train_Data_onehot=Train_Data.copy()

In [22]:
Train_Data_onehot['Gender_0']=0
Train_Data_onehot['Gender_1']=0
for i in tqdm(range(Train_Data_onehot.shape[0])):
  q=Train_Data_onehot['Gender'].iloc[i]
  Train_Data_onehot['Gender'+'_'+str(q)].iloc[i]=1

  0%|          | 0/37748 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 37748/37748 [00:06<00:00, 5791.73it/s]

In [23]:
Train_Data_onehot['Is_Active_0']=0
Train_Data_onehot['Is_Active_1']=0
for i in tqdm(range(Train_Data_onehot.shape[0])):
  q=Train_Data_onehot['Is_Active'].iloc[i]
  Train_Data_onehot['Is_Active'+'_'+str(q)].iloc[i]=1

  0%|          | 0/37748 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 37748/37748 [00:06<00:00, 5468.76it/s]

In [24]:
max(Train_Data_onehot['City_Category'])

2

In [25]:
for i in range(3):
  string='City_Category'+'_'+str(i)
  Train_Data_onehot[string]=0

In [26]:
for i in tqdm(range(Train_Data_onehot.shape[0])):
  q=Train_Data_onehot['City_Category'].iloc[i]
  Train_Data_onehot['City_Category'+'_'+str(q)].iloc[i]=1

  0%|          | 0/37748 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 37748/37748 [00:06<00:00, 5923.16it/s]

In [27]:
max(Train_Data_onehot['Customer_Category'])

3

In [28]:
for i in range(4):
  string='Customer_Category'+'_'+str(i)
  Train_Data_onehot[string]=0

In [29]:
for i in tqdm(range(Train_Data_onehot.shape[0])):
  q=Train_Data_onehot['Customer_Category'].iloc[i]
  Train_Data_onehot['Customer_Category'+'_'+str(q)].iloc[i]=1

  0%|          | 0/37748 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 37748/37748 [00:06<00:00, 6120.96it/s]

In [30]:
Train_Data_onehot=Train_Data_onehot.drop(['Gender','Is_Active','City_Category','Customer_Category'],axis=1)

In [31]:
Train_Data.head()

  Customer_ID Gender  ...  Product_Holding_B2_19  Product_Holding_B2_20
0    CC264719      1  ...                      0                      0
1    CC209679      0  ...                      0                      0
2    CC319633      0  ...                      0                      0
3    CC231413      0  ...                      0                      0
4    CC259633      1  ...                      0                      0

[5 rows x 51 columns]

In [32]:
Train_Data_onehot.head()

  Customer_ID  Age  ...  Customer_Category_2  Customer_Category_3
0    CC264719   41  ...                    0                    1
1    CC209679   47  ...                    1                    0
2    CC319633   59  ...                    1                    0
3    CC231413   32  ...                    1                    0
4    CC259633   30  ...                    0                    1

[5 rows x 58 columns]

Feature 1

In [33]:
Train_Data['Time']=Train_Data['Age']-Train_Data['Vintage']

In [34]:
Train_Data_onehot['Time']=Train_Data_onehot['Age']-Train_Data_onehot['Vintage']

Feature 2

Current_Holdings

In [35]:
Train_Data.head()

  Customer_ID Gender  Age  ...  Product_Holding_B2_19  Product_Holding_B2_20  Time
0    CC264719      1   41  ...                      0                      0    27
1    CC209679      0   47  ...                      0                      0    33
2    CC319633      0   59  ...                      0                      0    45
3    CC231413      0   32  ...                      0                      0    16
4    CC259633      1   30  ...                      0                      0    15

[5 rows x 52 columns]

In [36]:
Train_Data.describe()

                Age       Vintage  ...  Product_Holding_B2_20          Time
count  37748.000000  37748.000000  ...           37748.000000  37748.000000
mean      38.521379     19.573169  ...               0.000106     18.948209
std       10.121811     10.252417  ...               0.010294     14.406206
min       24.000000      2.000000  ...               0.000000    -38.000000
25%       29.000000     13.000000  ...               0.000000     11.000000
50%       37.000000     16.000000  ...               0.000000     18.000000
75%       47.000000     23.000000  ...               0.000000     30.000000
max       59.000000     65.000000  ...               1.000000     53.000000

[8 rows x 50 columns]

In [37]:
def feat(f):
  f =f
  model = RandomForestClassifier(n_estimators=400,n_jobs=-1, random_state=0)
  model.fit(Train_Data.drop([f,'Customer_ID'],axis=1), Train_Data[f])
  importance = model.feature_importances_
  features=list(Train_Data.drop('Customer_ID',axis=1).columns)
  k=0
  q=0
  w1=0
  w2=0
  for i,v in enumerate(importance):
    if str(features[i])==str(f):
        k=1
        print('*'*5)
    if v>0.01:
      if 'B2' in features[i+k].split('_'):
        if k==0:
          w1+=v
          print(features[i+k])
        else:
          w2+=v
          print(features[i+k])
      else:
        q+=v
  print(round(q,2),round(w1,2),round(w2,2))
  return(round(q,2),round(w1,2),round(w2,2))

In [38]:
df=[]
for i in range(21):
  d=[]
  print('Product_Holding_B2_'+str(i))
  a,b,c=feat('Product_Holding_B2_'+str(i))
  d.append(a)
  d.append(b)
  d.append(c)
  d.append('Product_Holding_B2_'+str(i))
  df.append(d)

Product_Holding_B2_0
*****
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
Product_Holding_B2_13
Product_Holding_B2_16
0.43 0 0.53
Product_Holding_B2_1
Product_Holding_B2_0
*****
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
0.65 0.04 0.24
Product_Holding_B2_2
Product_Holding_B2_0
Product_Holding_B2_1
*****
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_11
0.78 0.05 0.1
Product_Holding_B2_3
Product_Holding_B2_0
Product_Holding_B2_1
*****
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
0.64 0.06 0.23
Product_Holding_B2_4
Product_Holding_B2_1
Product_Holding_B2_3
*****
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
0.69 0.05 0.21
Product_Holding_B2_5
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
*****
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
0.7 0.09 0.16
Product_Holding_B2_6
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
*****
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
0.58 0.17 0.18
Product_Holding_B2_7
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
*****
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
0.71 0.17 0.07
Product_Holding_B2_8
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
*****
Product_Holding_B2_9
Product_Holding_B2_10
Product_Holding_B2_12
Product_Holding_B2_13
Product_Holding_B2_16
0.52 0.26 0.17
Product_Holding_B2_9
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
*****
Product_Holding_B2_10
Product_Holding_B2_12
0.67 0.23 0.06
Product_Holding_B2_10
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
*****
Product_Holding_B2_12
0.67 0.26 0.03
Product_Holding_B2_11
Product_Holding_B2_2
Product_Holding_B2_4
Product_Holding_B2_8
Product_Holding_B2_10
*****
Product_Holding_B2_12
Product_Holding_B2_13
Product_Holding_B2_16
0.76 0.12 0.06
Product_Holding_B2_12
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_4
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_9
Product_Holding_B2_10
*****
Product_Holding_B2_13
Product_Holding_B2_16
0.68 0.25 0.03
Product_Holding_B2_13
Product_Holding_B2_0
Product_Holding_B2_8
Product_Holding_B2_11
Product_Holding_B2_12
*****
Product_Holding_B2_16
0.65 0.11 0.14
Product_Holding_B2_14
Product_Holding_B2_1
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_12
*****
0.85 0.1 0
Product_Holding_B2_15
Product_Holding_B2_0
Product_Holding_B2_1
Product_Holding_B2_4
Product_Holding_B2_5
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_8
Product_Holding_B2_10
Product_Holding_B2_12
*****
0.76 0.19 0
Product_Holding_B2_16
Product_Holding_B2_0
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_12
Product_Holding_B2_13
*****
0.67 0.24 0
Product_Holding_B2_17
Product_Holding_B2_1
Product_Holding_B2_8
Product_Holding_B2_12
Product_Holding_B2_13
Product_Holding_B2_16
*****
Product_Holding_B2_18
0.81 0.12 0.03
Product_Holding_B2_18
Product_Holding_B2_8
Product_Holding_B2_12
Product_Holding_B2_13
Product_Holding_B2_17
*****
0.79 0.19 0
Product_Holding_B2_19
*****
0 0 0
Product_Holding_B2_20
Product_Holding_B2_0
Product_Holding_B2_8
Product_Holding_B2_12
Product_Holding_B2_13
Product_Holding_B2_16
*****
0.73 0.21 0

In [39]:
df=pd.DataFrame(df,columns=[1,2,3,'Name'])

In [40]:
df=df.sort_values(1,ascending=False)

In [41]:
c1=df.copy()

In [42]:
df

       1     2     3                   Name
14  0.85  0.10  0.00  Product_Holding_B2_14
17  0.81  0.12  0.03  Product_Holding_B2_17
18  0.79  0.19  0.00  Product_Holding_B2_18
2   0.78  0.05  0.10   Product_Holding_B2_2
15  0.76  0.19  0.00  Product_Holding_B2_15
11  0.76  0.12  0.06  Product_Holding_B2_11
20  0.73  0.21  0.00  Product_Holding_B2_20
7   0.71  0.17  0.07   Product_Holding_B2_7
5   0.70  0.09  0.16   Product_Holding_B2_5
4   0.69  0.05  0.21   Product_Holding_B2_4
12  0.68  0.25  0.03  Product_Holding_B2_12
16  0.67  0.24  0.00  Product_Holding_B2_16
10  0.67  0.26  0.03  Product_Holding_B2_10
9   0.67  0.23  0.06   Product_Holding_B2_9
13  0.65  0.11  0.14  Product_Holding_B2_13
1   0.65  0.04  0.24   Product_Holding_B2_1
3   0.64  0.06  0.23   Product_Holding_B2_3
6   0.58  0.17  0.18   Product_Holding_B2_6
8   0.52  0.26  0.17   Product_Holding_B2_8
0   0.43  0.00  0.53   Product_Holding_B2_0
19  0.00  0.00  0.00  Product_Holding_B2_19

In [43]:
name_col=list(df['Name'])

In [44]:
print(name_col)

['Product_Holding_B2_14', 'Product_Holding_B2_17', 'Product_Holding_B2_18', 'Product_Holding_B2_2', 'Product_Holding_B2_15', 'Product_Holding_B2_11', 'Product_Holding_B2_20', 'Product_Holding_B2_7', 'Product_Holding_B2_5', 'Product_Holding_B2_4', 'Product_Holding_B2_12', 'Product_Holding_B2_16', 'Product_Holding_B2_10', 'Product_Holding_B2_9', 'Product_Holding_B2_13', 'Product_Holding_B2_1', 'Product_Holding_B2_3', 'Product_Holding_B2_6', 'Product_Holding_B2_8', 'Product_Holding_B2_0', 'Product_Holding_B2_19']

In [45]:
rest_col=list(set(Train_Data.columns)-set(name_col))

In [46]:
col=rest_col+name_col

In [47]:
print(col)

['Product_Holding_B1_3', 'Product_Holding_B1_16', 'Product_Holding_B1_17', 'Customer_Category', 'Product_Holding_B1_7', 'Product_Holding_B1_5', 'Product_Holding_B1_1', 'Product_Holding_B1_11', 'Product_Holding_B1_10', 'Product_Holding_B1_15', 'Gender', 'Product_Holding_B1_21', 'Product_Holding_B1_18', 'Is_Active', 'Product_Holding_B1_0', 'Age', 'Product_Holding_B1_20', 'Product_Holding_B1_9', 'Product_Holding_B1_2', 'Product_Holding_B1_8', 'Customer_ID', 'Product_Holding_B1_14', 'Vintage', 'Current_Holdings', 'Product_Holding_B1_4', 'Product_Holding_B1_12', 'City_Category', 'Product_Holding_B1_13', 'Time', 'Product_Holding_B1_6', 'Product_Holding_B1_19', 'Product_Holding_B2_14', 'Product_Holding_B2_17', 'Product_Holding_B2_18', 'Product_Holding_B2_2', 'Product_Holding_B2_15', 'Product_Holding_B2_11', 'Product_Holding_B2_20', 'Product_Holding_B2_7', 'Product_Holding_B2_5', 'Product_Holding_B2_4', 'Product_Holding_B2_12', 'Product_Holding_B2_16', 'Product_Holding_B2_10', 'Product_Holding_B2_9', 'Product_Holding_B2_13', 'Product_Holding_B2_1', 'Product_Holding_B2_3', 'Product_Holding_B2_6', 'Product_Holding_B2_8', 'Product_Holding_B2_0', 'Product_Holding_B2_19']

In [48]:
Train_Data=Train_Data[col]

In [49]:
Train_Data.head()

   Product_Holding_B1_3  ...  Product_Holding_B2_19
0                     0  ...                      0
1                     0  ...                      0
2                     0  ...                      0
3                     0  ...                      0
4                     0  ...                      0

[5 rows x 52 columns]

In [50]:
df=[]
for i in name_col:
  d=[]
  print(i)
  a,b,c=feat(i)
  d.append(a)
  d.append(b)
  d.append(c)
  d.append(i)
  df.append(d)

Product_Holding_B2_14
*****
Product_Holding_B2_12
Product_Holding_B2_1
Product_Holding_B2_6
Product_Holding_B2_8
0.86 0 0.09
Product_Holding_B2_17
*****
Product_Holding_B2_18
Product_Holding_B2_12
Product_Holding_B2_16
Product_Holding_B2_13
Product_Holding_B2_1
Product_Holding_B2_8
0.81 0 0.15
Product_Holding_B2_18
Product_Holding_B2_17
*****
Product_Holding_B2_12
Product_Holding_B2_13
0.79 0.12 0.06
Product_Holding_B2_2
*****
Product_Holding_B2_11
Product_Holding_B2_4
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.78 0 0.14
Product_Holding_B2_15
*****
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_10
Product_Holding_B2_1
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.76 0 0.19
Product_Holding_B2_11
Product_Holding_B2_2
*****
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_16
Product_Holding_B2_10
Product_Holding_B2_13
Product_Holding_B2_8
0.76 0.05 0.13
Product_Holding_B2_20
*****
Product_Holding_B2_12
Product_Holding_B2_16
Product_Holding_B2_13
Product_Holding_B2_8
Product_Holding_B2_0
0.75 0 0.17
Product_Holding_B2_7
*****
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
0.71 0 0.23
Product_Holding_B2_5
Product_Holding_B2_7
*****
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
0.7 0.03 0.22
Product_Holding_B2_4
Product_Holding_B2_7
Product_Holding_B2_5
*****
Product_Holding_B2_12
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
0.7 0.06 0.19
Product_Holding_B2_12
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
*****
Product_Holding_B2_16
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_13
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.66 0.05 0.24
Product_Holding_B2_16
Product_Holding_B2_12
*****
Product_Holding_B2_13
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.67 0.03 0.21
Product_Holding_B2_10
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
*****
Product_Holding_B2_9
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.67 0.12 0.16
Product_Holding_B2_9
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_10
*****
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.67 0.12 0.17
Product_Holding_B2_13
Product_Holding_B2_11
Product_Holding_B2_12
Product_Holding_B2_16
*****
Product_Holding_B2_1
Product_Holding_B2_8
Product_Holding_B2_0
0.66 0.19 0.08
Product_Holding_B2_1
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_10
Product_Holding_B2_9
*****
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.65 0.12 0.15
Product_Holding_B2_3
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_1
*****
Product_Holding_B2_6
Product_Holding_B2_8
Product_Holding_B2_0
0.64 0.18 0.11
Product_Holding_B2_6
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_16
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_1
Product_Holding_B2_3
*****
Product_Holding_B2_8
Product_Holding_B2_0
0.58 0.27 0.09
Product_Holding_B2_8
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_16
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_13
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
*****
Product_Holding_B2_0
0.53 0.35 0.08
Product_Holding_B2_0
Product_Holding_B2_7
Product_Holding_B2_5
Product_Holding_B2_4
Product_Holding_B2_12
Product_Holding_B2_16
Product_Holding_B2_10
Product_Holding_B2_9
Product_Holding_B2_13
Product_Holding_B2_1
Product_Holding_B2_3
Product_Holding_B2_6
Product_Holding_B2_8
*****
0.43 0.53 0
Product_Holding_B2_19
0 0 0

In [51]:
df=pd.DataFrame(df,columns=[1,2,3,'Name'])

In [53]:
df

       1     2     3                   Name
0   0.86  0.00  0.09  Product_Holding_B2_14
1   0.81  0.00  0.15  Product_Holding_B2_17
2   0.79  0.12  0.06  Product_Holding_B2_18
3   0.78  0.00  0.14   Product_Holding_B2_2
4   0.76  0.00  0.19  Product_Holding_B2_15
5   0.76  0.05  0.13  Product_Holding_B2_11
6   0.75  0.00  0.17  Product_Holding_B2_20
7   0.71  0.00  0.23   Product_Holding_B2_7
8   0.70  0.03  0.22   Product_Holding_B2_5
9   0.70  0.06  0.19   Product_Holding_B2_4
10  0.66  0.05  0.24  Product_Holding_B2_12
11  0.67  0.03  0.21  Product_Holding_B2_16
12  0.67  0.12  0.16  Product_Holding_B2_10
13  0.67  0.12  0.17   Product_Holding_B2_9
14  0.66  0.19  0.08  Product_Holding_B2_13
15  0.65  0.12  0.15   Product_Holding_B2_1
16  0.64  0.18  0.11   Product_Holding_B2_3
17  0.58  0.27  0.09   Product_Holding_B2_6
18  0.53  0.35  0.08   Product_Holding_B2_8
19  0.43  0.53  0.00   Product_Holding_B2_0
20  0.00  0.00  0.00  Product_Holding_B2_19

In [52]:
c2=df.copy()

In [58]:
Train_Data.head()

   Product_Holding_B1_3  ...  Product_Holding_B2_19
0                     0  ...                      0
1                     0  ...                      0
2                     0  ...                      0
3                     0  ...                      0
4                     0  ...                      0

[5 rows x 52 columns]

Model